.kassyAbout {
    max-width: 1200px;
height: 500px;
    margin: 20px auto;
    background-image: url("sigma10.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kassyAboutTittle {
    max-width: 1000px;
    font-size: 36px;
 text-align: center;
    padding-left: 200px;
    padding-top: 50px;
}
.kassyAboutText {
    max-width: 500px;
    font-size: 23px;
    float: right;
    margin: 30px 50px;
}
.kassyContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.kassy {
    background: radial-gradient(circle, rgba(12,28,107,1) 0%, rgba(11,24,102,1) 73%, #002046 96%);
    max-width: 270px;
   height: 250px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    margin: 20px 100px;
    position: relative;
    top: 150px;
}
.kassyImg {
    position: relative;
    top: -100px;
    min-width: 230px;
    height: 160px;
}
.kassyTittle {
    font-size: 32px;
    font-weight: 600;
    text-shadow: 0 0 13px slategrey;
    text-align: center;
    color: slategray;
}
.kassyName {
    position: relative;
    left: 30%;
    top: -70px;
    font-size: 20px;
    font-weight: 500;
}
.cost {
    position: relative;
    left: 30%;
    top: -60px;
    font-size: 18px;
}
.kassyZakaz {
    position: relative;
    left: 20%;
    top: -30px;
    font-size: 18px;
    max-width: 150px;
    height: 30px;
    background-color: slategray;
    border-radius: 30px;
    text-align: center;
}