.ComponentUslugi {
    color: slategrey;
}

.uslugiTittle {
    font-size: 30px;
    font-weight: 600;
    padding-top: 30px;
    text-shadow: 0 0 13px slategrey;
    text-align: center;
}
.textUslugi {
    height: 90px;
    margin: 10px auto;
    text-align: center;
    font-size: 18px;
    font-weight: 600 ;

}
.containerUslugi {
    display: flex;
    justify-content: center;
    min-width: 500px;
    height: 350px;
}
.uslugi {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    max-height: 300px;
}
.uslugiIcons {
    margin: 20px auto;
}
.iconText {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}
@media (max-width: 1050px) {
    .uslugiTittle {
        font-size: 28px;
    }
    .uslugi {
        display: flex;
        flex-direction: column;
        margin: 0 40px;
    }
    .uslugiIcons {

        margin: 20px auto;
    }
    .iconText {
        font-weight: 600;
        font-size: 16px;
        text-align: center;
    }

}